<footer class="footer">
  <nav class="navbar navbar-expand-md navbar-dark nav-bg">
    <div class="nav-item mr-auto text-muted">
      <i class="fas fa-tools"></i>
      Made by Bryce McMath
    </div>
    <div class="nav-item ml-auto">
      <a href="https://github.com/bryce-mcmath/tinyapp"
        ><i class="fab fa-github fa-3x text-white"></i>
      </a>
    </div>
  </nav>
</footer>

<%- include ("_vendor") %>
